/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: $v-dark-gray;
}
.bg-email {
  background: $gray-bis;
}
.bg-twitter {
  background: $pure-blue;
}
.bg-facebook {
  background: $dark-moderate-blue;
}
